ModelGraphicsView{
    background-color: #292C34;
    border: 1px solid white;
}

QTextEdit#consoleTextEdit{
    background-color: #292C34;
    border: 1px solid white;
}
QMainWindow {
    background-color: #21252A;
    color:  white;
}
QMenuBar{
    padding: 2px;
    border-bottom: 1px solid white;
}
